<link rel="stylesheet" href="\static\css\upload.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html lang="en">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" 
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>

    <link rel="stylesheet" 
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>

    <script type="application/javascript" 
     src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
    </script>

    <title>File Dropper</title>
</head>
<body>
    <div class="topnav w3-bar w3-white w3-border-bottom w3-xlarge">
        <a href="../" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b>AIO Media Server</b></a>
        <a href="{{url_for('browse')}}" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Browse</a>
          </div>
    </div>
    <div class="content">
        <form method="POST" action='/video_send' class="dropzone dz-clickable" 
            id="dropper" enctype="multipart/form-data">
        </form>

        <script type="application/javascript">
            Dropzone.options.dropper = {
                paramName: 'file',
                chunking: true,
                acceptedFiles: '.mp4',
                forceChunking: true,
                url: '/video_send',
                maxFilesize: 1025, // megabytes
                chunkSize: 1000000 // bytes
            }
        </script>
    </div>
</body>
</html>